* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(164, 157, 157);
    font-family: 'Fira Sans',sans-serif;
    height: 100vh;
    transition:transform 0.3s ease-in;
}

.sidebar nav {
    padding: 45px;



}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a {
    text-decoration: none;
    color:black;}

.main {
    /*background-color: yellow;*/
    width: 90vw;
}

.container {
    display: flex;
}
.infocontainer{
   /* background-color: green;*/
    height: 58vh;
    width:80vw;
    margin:144px auto;
    display:flex;
    justify-content: space-around;
}
.devinfo{
    display:flex;
    justify-content:center;
    flex-direction: column;
    font-family:'Source Code Pro',monospace;
}
.hello{
    font-size: 65px;


}
.name{
    font-size: 50px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif ;
}
.about{
    font-size: 40px;
}
.moreabout{
    font-size: 22px;
    font-family: 'Fira Sans',sans-serif;
    margin-top: 23px;
}
.buttons{
    margin-top: 34px;

}
.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color:white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin:0 3px;
    cursor:pointer;
}
.buttons button:hover{
    background-color: white;
    color: dodgerblue;
}
.devpic img{
    height:58vh;
}
.contactform{
    padding: 0 34px;
    padding-top:144px;
    font-family: 'Fira Sans', sans-serif;
    margin: 0 88px;
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}
.contactform div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
#emailHelp{
    font-size: 8px;
    color:midnightblue;
    margin: 0 5px;

}
#form-check{
    flex-direction: row;

}
#form-check input{
    width:24px;
    margin: 3px 0;
}
.blogcontainer{
    margin:0 88px;
}
.blogItem{
    margin:20px;
    font-family: 'Fira Sans', sans-serif;

}
.blogContainer h1{
    font-family: 'Fira Sans', sans-serif;
    margin:23px;

} 
.blogItem p{
    font-family: 'Source Code Pro',monospace;
}
.intro{
    margin:0 88px;
}
.intro h2{
    font-family: 'Fira Sans',sans-serif;
    margin:12px;


}
.intro p{
    font-family: 'Fira Sans',sans-serif;
    margin:12px;

}
.skillcon{
    padding:12px;


}
.skillitem{
    display:flex;
    align-items: center;
    font-family: 'Source Code Pro',monospace;
    font-weight: 900;
}
.skill{
    width:265px;
    height:6px;
    background-color: brown;
    border:2px solid black;
}
.hundred{
    width:265px;
    background-color: yellowgreen;

}
.ninety{
    width:225px;
    background-color: blueviolet;
}
.fifty{
    width:125px;
    background-color: dodgerblue;
}
.t5{
    width:75px;
    background-color: aqua;
}
@media (max-width:1615px) {
    *{
    background-color:red ;}
    /*.sidebargo{
        transform:translate(-443px,0px);
        position:absolute;}*/
    
}
.intro b{
    font-size: 20px;
    padding:12px;
}
.passionn{
    padding:12px;
}
h2{
    font-size: 40px;
}
.passionn li{
    font-size: 20px;
    padding:12px;
    font-family: 'Source Code Pro',monospace;

}
.blogItem{
    margin:0;
    padding:10px;
    font-size: 30px;
    font-color:blue;
}
.blogItem img{
    width:120px;
    height:130px;
}
.blogItem p{
    padding:4px;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;

}
.blogItem b{
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-size:25px;

}
.project{
    padding: 12px;
}
h2{
    font-size: 40px;
}
.project li {
    font-size: 20px;
    padding:12px;
    font-family: 'Source Code Pro',monospace;
}
.sidebargo{
    transform:translate(-443px,0px);
    position:absolute;
}

.hamburger{
    position:absolute;
    cursor:pointer;
    top:10px;
    left:10px;
}
.ham{
    margin-top: 10px;
    margin-left: 10px;
}
.cross{
    margin-left: 185px;
    margin-top:10px;
}